#div1{
    height: 100vh;
    width:40vh;
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
}
#h1{
    text-decoration: underline;
    color: white;
    margin:5% ;
    float: right;
}
#img{
    float: right;
    margin: 5%;

}
#h2{
    color: white;
    float: right;
    clear: right;
    margin-right: 10%;
}
#h3{
    color: white;
    float: right;
    clear: right;
    margin-right: 10%;
}
#h4{
    color: white;
    float: right;
    clear: right;
    margin-right: 10%;
}
#h5{
    color: white;
    float: right;
    clear: right;
    margin-right: 10%;
}
#h6{
    color: white;
    float: right;
    clear: right;
    margin-right: 10%;
}
#h7{
    color: white;
    float: right;
    clear: right;
    margin-right: 10%;
}
#h8{
   text-decoration: underline; 
   color: white;
   clear: right;
   float: right;
   margin: 5%;
}
#p{
    color: white;
    font-size: small;
    float: right;
    text-align: right;
    padding:  5%;
}
#p1{
    color: white;
    font-size: small;
    float: right;
    text-align: right;
    padding:  5%;
}